body{
    background-size: cover;
}

.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
}

#start,#number_of_objects,#satus{
    font-size: 20px;


}


.footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: aqua;
    text-align: center;
    color: blue;
    line-height: 3;

}

canvas{
    border: 2px solid aqua;
    margin-top: 90px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px yellow;
}